

@keyframes colorCycle {
  0% {
    background-color: red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5); /* 初始阴影效果 */
  }
  25% {
    background-color: blue;
    box-shadow: 0 -2px 4px rgba(0, 0, 255, 0.5); /* 向上移动 */
  }
  50% {
    background-color: green;
    box-shadow: 2px 0 4px rgba(0, 255, 0, 0.5); /* 向右移动 */
  }
  75% {
    background-color: yellow;
    box-shadow: 0 2px 4px rgba(255, 255, 0, 0.5); /* 向下移动 */
  }
  100% {
    background-color: purple;
    box-shadow: -2px 0 4px rgba(128, 0, 128, 0.5); /* 向左移动 */
  }
}

#workspaces {
  background: transparent;
  animation-name: colorCycle;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button { color: black; } 
#workspaces button.empty {  color: gray; } 
#workspaces button.active { color: white; }