.cyxy-pdf-trans.pdfViewer .cyxy-trs-source,
.cyxy-pdf-trans.pdfViewer [data-q1lywv9uulnfu09vuknf] {
  opacity: 0 !important;
  outline: 1px solid #fff;
  background: #fff;
  user-select: none;
}

.cyxy-pdf-trans.pdfViewer .textLayer {
  opacity: 1;
}

.cyxy-pdf-trans.pdfViewer .canvasWrapper {
  opacity: 0;
}

.cyxy-pdf-trans.pdfViewer .cyxy-trs-target,
.cyxy-pdf-trans.pdfViewer [data-q1lywv9uulnfvefsr0vu] {
  opacity: 1;
  color: #000;
  position: absolute;
  left: 0;
  user-select: text;
}

.pdfViewer .textLayer::selection,
.textLayer ::selection {
  background: rgba(0, 185, 119, 0.2) !important;
}
