body > .main > .container > .content > .con_left > .left1 > .t_left1 > h1 {
  display: inline-block;
}

body > .main > .container > .content > .con_left > .left1 > .fenlei > ul > li {
  height: auto;
  line-height: inherit;
  padding: 6px 0;
}

body
  > .main
  > .container
  > .content
  > .con_left
  > .left1
  > .fenlei
  > ul
  > li
  > img {
  margin-top: 5px;
}
